<style>
.navbar {
    background-color: #1a212a;
    display: flex;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content a {
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    padding: 5%;
}

.logo img {
    height: 35px;
    width: 40px;
    padding: 5px;
}

.header {
    background-color: #1a212a;
    height: 400px;
    display: flex;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
}
.header img {
    height: 200px;
}

.text {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3a69bc;
    color: white
}

p {
    color: white
}
</style>